<p class="notice"><%= notice %></p>

<h1> Profile Menu </h1>
<br>

<p> Username: <%= @user.email %> </p>

<h3> Your Votes </h3>
<% if @user.join_votes %>
<ul>
  <% @user.join_votes.each do |g| %>
    <% song = Song.find(g.song_id.to_i) %>
    <li><%= song.title %> <%= song.artist %></li>
  <% end %>
</ul>
<% else %>
  <div>"You haven't voted for any songs!"</div>
<% end %>

 ------------------------------------
<br>


