<p class="notice"><%= notice %></p>

<h1> Profile Menu </h1>
<br>
<%= link_to 'Sign in with Spotify', '/auth/spotify' %>
<p> Username: <%= @user.email %> </p>



 ------------------------------------
<br>



