<p class="notice"><%= notice %></p>

<h1> Profile Menu </h1>
<br>

<p> Username: <%= @user.email %> </p>

<ul>
  <% @user.songs.each do |g| %>
    <li><%= link_to "Song #{song.id}", song_path(g) %></li>
  <% end %>
</ul>

 ------------------------------------
<br>
<%= link_to 'Join or Create Game', games_join_path, method: :post %> |


